@import "../../../style/variables";

.button {
	@include flexCentered;
	cursor: pointer;
	font-weight: bold;
	border-radius: $border-radius;
	border-width: $border-width-2;
	border-style: $border-style-s;
	font-family: $font-primary;

	&.button--small {
		font-size: 13px;
		line-height: 18px;
		padding: 6px 12px;
	}

	&.button--medium {
		font-size: 14px;
        line-height: 16px;
		padding: 13px 20px;
	}

	&.button--large {
		font-size: 16px;
        line-height: 22px;
		padding: 16px 20px;
	}

	&>.ico {
		margin-left: $gap-vertical;
	}

}

.button--text {
	color: $color-brand-primary;
	background: none;
	border: none;

	&:hover {
		@include hoverScale;
	}
}

.button--outlined {
	background: $color-white;
}

.button--colorPrimary {

	&.button--contained {
		color: $color-white;
		border-color: $color-green;
		background: $color-green;

		&:hover {
			color: $color-green;
			border-color: $color-green;
			background: $color-white;
			transition: $transition;
		}
	}

	&.button--outlined {
		color: $color-green;
		border-color: $color-green;

		&:hover {
			color: $color-white;
			background: $color-green;
			transition: $transition;
		}
	}
}

.button--colorSecondary {

	&.button--contained {
		color: $color-white;
		border-color: $color-blue;
		background: $color-blue;

		&:hover {
			color: $color-blue;
			border-color: $color-gray-1;
			background: $color-white;
			transition: $transition;
		}
	}

	&.button--outlined {
		color: $color-blue;
		border-color: $color-gray-1;

		&:hover {
			color: $color-white;
			border-color: $color-blue;
			background: $color-blue;
			transition: $transition;
		}
	}
}

.util-mg-l {
	margin-left: $gap-horizontal*2;
}