@use "sass:math";

/* --- VARIABLES --- */

/* --- Spacing --- */

$gap-vertical: 1rem;
$gap-horizontal: 1rem;
$gap-horizontal-half: math.div($gap-horizontal, 2);
$gap-10: $gap-vertical*.625;

/* --- Colors --- */
$color-brand-primary: #00264C;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #6C6F77;
$color-gray-1: #F3F3F4;
$color-gray-2: #DFE0E2;
$color-blue: #0070CB;
$color-green: #0FC986;

$color-text: $color-gray;
$color-link: $color-blue;

/* --- Box shadow --- */
$box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$font-primary: "Open Sans", Helvetica, Arial, sans-serif;
$font-secondary: "Klavika", "Open Sans", Helvetica, Arial, sans-serif;

/* --- Breakpoints --- */
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1440px;

$bp-sm-max: $bp-sm - 1;
$bp-md-max: $bp-md - 1;
$bp-lg-max: $bp-lg - 1;
$bp-xl-max: $bp-xl - 1;
$bp-xxl-max: $bp-xxl - 1;

/* --- Transitions --- */
$transition-duration: .2s;
$transition-function: ease-in-out;
$transition: $transition-duration $transition-function;

/* --- Border --- */
$border-radius: 5px;
$border-width-1: 1px;
$border-width-2: 2px;
$border-style-s: solid;

/* --- Mixins --- */
@mixin flexCentered {
    display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexStart {
    display: flex;
	justify-content: flex-start;
	align-items: center;
}

@mixin hoverScale {
    transform: scale(1.05);
	transition: all $transition;
}